body{
    background-color: aliceblue;
    color: blue;
    font-family: "Bai Jamjuree",sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;   
}

button {
    background-color: aquamarine;
    color: brown;
    font-family: "Bai Jamjuree", sans-serif;
}